<!DOCTYPE html>
<html>
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="style.css">
<header class="NurseryTitle">Nursery Organization</header>
<body lang="en">
    <div class="container">
        <button class="table_patient" id="patientBT">Patient</button>
        
        <button class="table_family" id="familyBT">Family</button>
        <button class="table_faculty" id="facultyBT">Faculty</button>
        <button class="table_payment" id="paymentBT">Payment Processing</button>
    </div>
    <div class="resultContainer">
        <p class="result" id="tableView">Results Here</p>
    </div>
    <!-- <script src="index.js"></script> -->
    <!-- <script type="module" src="database.js"></script> -->
</body>
</html>