header.NurseryTitle{
    font-family: 'Times New Roman';
    font-size: 35px;
}
div.leftContainer{
    position: absolute;
    height: 90vh;
    width: 22vw;
    left: 0%;
    top: 8%;
    border: 1px solid black;
    border-collapse: collapse;
}
div.buttonContainer{
    /* display:flex; */
    position: absolute;
    left: 10%;
    top: 0%;
    align-items: center;
}

/*DB Results*/
div.resultContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    height:50vh;
}
table,th,td.tableFormat{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Times New Roman';
    font-size: 16px;
    left: 0%;
}

/*Insertion*/
div.rightContainer{
    position: absolute;
    height: 90vh;
    width: 30vw;
    top: 8%;
    right: 0%;
    border: 1px solid black;
    border-collapse: collapse;
}
div.insertContainer{
    position: absolute;
    top: 30%;
    left: 0%;
}
input.insert{
    position: fixed;
    font-family: 'Georgia';
    font-size: 16px;
    width: 5%;
    height: 20px;
}
select.insertOption{    /*Used for pulling data from other tables (e.g. family last name)*/
    position: fixed;
    width: 5%;
    height: 3%;
}
button.addButton{
    position:fixed;
    width: 8vw;
    top: 50%;
}

/*Patients*/
div.patientOptions{
    position: fixed;
    margin-top: 0%;
}
button.table_patient{
    position:fixed;
    width: 16vw;
    height:4vh;
    margin-top: -1%;
    font-family: 'Georgia';
    font-size: 18px;
}
button.table_family{
    position:fixed;
    width:16vw;
    height:4vh;
    margin-top: 2%;
    font-family: 'Georgia';
    font-size: 18px;
}
button.table_room{
    position:fixed;
    width:16vw;
    height:4vh;
    margin-top: 5%;
    font-family: 'Georgia';
    font-size: 18px;
}
button.table_paySum{
    position:fixed;
    width:16vw;
    height:4vh;
    margin-top: 8%;
    font-family: 'Georgia';
    font-size: 18px;
}
/*Staff*/
div.facultyOptions{
    position: fixed;
    margin-top: 16%;
}
button.table_faculty{
    position:fixed;
    width:16vw;
    height:4vh;
    margin-top: -1%;
    font-family: 'Georgia';
    font-size: 18px;
}
button.table_assignment{
    position:fixed;
    width:16vw;
    height:4vh;
    margin-top: 2%;
    font-family: 'Georgia';
    font-size: 18px;
}
/*Medications*/
div.medicationOptions{
    position: fixed;
    margin-top: 26%;
}
button.table_medications{
    position:fixed;
    width:16vw;
    height:4vh;
    margin-top: -1%;
    font-family: 'Georgia';
    font-size: 18px;
}
button.table_payment{
    position:fixed;
    width:16vw;
    height:4vh;
    margin-top: 2%;
    font-family: 'Georgia';
    font-size: 18px;
}
