<!DOCTYPE html>
<html>
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<header class="NurseryTitle">Nursery Organization</header>
<body lang="en">
    <div class="leftContainer">
        <div class="buttonContainer">
            <div class="patientOptions">
                <h1>Patient Options</h1>
                <button class="table_patient" id="patientBT">Patient</button>
                <button class="table_family" id="familyBT">Patient Family</button>
                <button class="table_room" id="roomBT">Patient Rooms</button>
                <button class="table_paySum" id="paySumBT">Payment Summary</button>
            </div>

            <div class="facultyOptions">
                <h1>Faculty Options</h1>
                <button class="table_faculty" id="facultyBT">Faculty</button>
                <button class="table_assignment" id="assignBT">Faculty-Patient Assignment</button>
            </div>
            
            <div class="medicationOptions">
                <h1>Medication Options</h1>
                <button class="table_medications" id="medicationBT">Medications</button>
                <button class="table_payment" id="paymentBT">Medication Cost</button>
            </div>
        </div>
    </div>
    <div class="rightContainer">
        <div class="insertContainer" id="insertStuff">
            <table>
                <tr id="attribute"></tr>
            </table>
            <div id="newRow"></div>
        </div>
        <button class="addButton">Add</button>
    </div>
    <div class="resultContainer">
        <!-- <p class="result" id="tableView">Results Here</p> -->
        <div class="card">
            <div class="card-reader">
                <div class="row">
                    <!-- <div class="col">Sample Data</div> -->
                    <div class="col"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" id="table">
                    <!-- Table will autofill using code in index.js -->
                     Awaiting Data
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/index.js"></script>
    <!-- <script type="module" src="database.js"></script> -->
</body>
</html>