<!DOCTYPE html>

<head>
<link rel="stylesheet" href="/css/style.css">
<title class="NurseryTitle">Nursery Organization</title>
</head>

<body>
    Hello There!
    <!-- <button>Welcome to the Standard Nursery Organization</button> -->
</body>