<!DOCTYPE html>
<html>
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<header class="NurseryTitle">Nursery Organization</header>
<body lang="en">
    <div class="container">
        <button class="table_patient" id="patientBT">Patient</button>
        
        <button class="table_family" id="familyBT">Family</button>
        <button class="table_faculty" id="facultyBT">Faculty</button>
        <button class="table_payment" id="paymentBT">Payment Processing</button>
    </div>
    <div class="resultContainer">
        <!-- <p class="result" id="tableView">Results Here</p> -->
        <div class="card">
            <div class="card-reader">
                <div class="row">
                    <div class="col">Sample Data</div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" id="table">
                    <!-- Table will autofill using code in index.js -->
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/index.js"></script>
    <!-- <script type="module" src="database.js"></script> -->
</body>
</html>